table {
	margin: 40px 40px 120px 40px;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 40px;
	table-layout: auto;
	word-wrap: break-word;
}
table>tbody>tr:nth-of-type(odd) {
	background-color: #F7F7F7
}

th, td {
	padding: 8px;
	text-align: left;
	vertical-align: middle;
	font-weight: normal;
	font-size: 12px;
	border-bottom: 1px solid #fff;
}

th {
	padding-bottom: 10px;
    color: #fff;
    font-weight: 700;
    background: rgba(66, 185, 131, .9)
}

td {
	border-bottom-width: 1px
}
